{{#each this }}
<li class="gallery-item" data-id="{{id}}">
    <div class="video-card">
        <img class="video-poster" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}">
    </div>
    <div class="video-about">
        <p class="video-title">{{title}}</p>
        <p class="video-genre">{{genre_ids}} | {{release_date}}</p>
    </div>
</li>
{{/each}}